<div class="container-fluid py-4">
  <form #f="ngForm" (ngSubmit)="salvar(f)" class="container py-4 card-crenorte shadow-lg rounded precadastro">
    <!-- HEADER -->
    <div class="form-header d-flex justify-content-between align-items-center mb-3">
      <div class="title-box px-2">
        <h2 class="form-title mb-0">Novo Pré-cadastro</h2>
        <small class="subtitle">Microcrédito Produtivo Orientado</small>
      </div>
      <div class="logo-box">
        <img src="../../../assets/img/logo2-crenorte.png" alt="Logo CRENORTE" class="logo-img" />
      </div>
    </div>

    <div class="card shadow-soft">
      <div class="card-body">
        <div class="row g-3 g-md-4">
          <div class="col-12 col-md-6">
            <label class="form-label">Nome Completo</label>
            <input class="form-control" name="nomeCompleto" [(ngModel)]="model.nomeCompleto" required
              autocomplete="name" />
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">CPF</label>
            <input class="form-control" name="cpf" [(ngModel)]="model.cpf" required placeholder="000.000.000-00"
              inputmode="numeric" />
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">Telefone (WhatsApp)</label>
            <input class="form-control" name="telefone" [(ngModel)]="model.telefone" required
              placeholder="(91) 9XXXX-XXXX" inputmode="tel" autocomplete="tel" />
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">E-mail</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="model.email" required
              autocomplete="email" />
          </div>
          <div class="col-12 col-md-6">
            <label class="form-label">Endereço</label>
            <input class="form-control" name="endereco" [(ngModel)]="model.endereco" required
              autocomplete="street-address" />
          </div>

          <div class="col-12 col-md-6">
            <label class="form-label">Bairro</label>
            <input type="bairro" class="form-control" name="bairro" [(ngModel)]="model.bairro" required
              autocomplete="bairro" />
          </div>
          
          <div class="col-12 col-md-6">
            <label class="form-label">Origem</label>
            <input type="origem" class="form-control" name="origem" [(ngModel)]="model.origem" required
              autocomplete="origem" />
          </div>


        </div>

        <div class="d-flex gap-2 mt-4 sticky-actions-md">
          <button class="btn btn-crn-success" [disabled]="loading()">Salvar</button>
          <a class="btn btn-outline-secondary" routerLink="/pre-cadastro/minha-lista">Minha Lista</a>
        </div>

        <div *ngIf="msg()" class="alert alert-info mt-3">{{ msg() }}</div>
      </div>
    </div>
  </form>
</div>